html{
	background-color: black;
}

body{
	margin:0;
}

h1{
	background-color: white;
	padding: 1em 2em 0.5em 3em;
	margin:0;
	border:5px dotted #000;
	border-radius: 10px;
}

a{
	background-color: white;
}
